---
import './base.css';

import { ViewTransitions } from 'astro:transitions';

import faviconSvg from '~/assets/favicon.svg';
import { AppConfig } from '~/config';
import Footer from '~/partials/Footer.astro';
import Navbar from '~/partials/Navbar.astro';
import { getOgImageUrl } from '~/utils/getOgImageUrl';

export interface Props {
  head: {
    title: string;
    description: string;
    ogOverride?: string | undefined;
  };
}

// Ensures the canonicalURL always has a trailing slash.
const canonicalURL = new URL(Astro.url.pathname.replace(/([^/])$/, '$1/'), Astro.site);

const {
  head: { title, description, ogOverride },
} = Astro.props as Props;

// remove " - Barrenechea" from the title
const filteredTitle = ogOverride || title.replace(' - Barrenechea', '');
const ogImageUrl = getOgImageUrl(canonicalURL.pathname) || '/open-graph/default-og-image.png';
const canonicalImageSrc = new URL(ogImageUrl, Astro.site);
---

<html lang={AppConfig.locale}>

<head>
  <meta charset="UTF-8" />
  <base target="_blank">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="author" content={AppConfig.author} />
  <meta property="og:image" content={canonicalImageSrc} />
  <meta property="og:image:alt" content={filteredTitle} />

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
  <!-- <link rel="icon" href={faviconPng} type="image/png" /> -->
  <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-L5QEGL7QZE">

  </script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-L5QEGL7QZE');
  </script>
  <ViewTransitions />
</head>

<body class="bg-zinc-900 font-sans text-gray-100">
  <a class="github-fork-ribbon hidden lg:block" href={AppConfig.repo} data-ribbon="Fork me on GitHub"
    title="Fork me on GitHub">Fork me on GitHub</a>

  <Navbar />

  <slot />

  <Footer />
</body>

</html>