---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { formatDate } from '~/utils/dates';

export interface Props {
  key: string | undefined;
  instance: CollectionEntry<'posts' | 'projects'>;
}

const { key, instance } = Astro.props as Props;
const [lang, ...slug] = instance.slug.split('/');
const formattedDate = instance.data.pubDate ? formatDate(instance.data.pubDate, lang) : null;
---

<a
  id={key}
  class="flex transform-gpu flex-col transition ease-out hover:scale-105 motion-reduce:transition-none motion-reduce:hover:transform-none"
  href={`/${lang}/${instance.collection}/${slug.join('/')}/`}
  target="_self"
>
  <div class="flex-1 overflow-hidden rounded-md bg-zinc-800">
    <div class="aspect-h-2 aspect-w-3 bg-zinc-200">
      {instance.data.img.format === 'svg' ? (
        <img
          src={instance.data.img.src}
          alt={instance.data.imgAlt}
          class="h-full w-full object-scale-down object-center"
        />
      ) : (
        <Image
          class="h-full w-full object-cover object-center"
          src={instance.data.img}
          alt={instance.data.imgAlt}
          format="webp"
          width={400}
          height={267}
        />
      )}
    </div>

    <div class="px-3 pb-6 pt-4 text-center">
      <h2 class="text-xl font-semibold">
        {instance.data.title}
      </h2>

      {formattedDate && (
        <div class="mt-1 text-xs text-gray-400">{formattedDate}</div>
      )}

      <div class="mt-2 items-center text-sm">
        {instance.data.description}
      </div>
    </div>
  </div>
</a>
