---
import { AppConfig } from '~/config';
import { languages } from '~/i18n/translations';

/**
 * Returns the localized pathname for a given locale.
 */
function localizedPathname(locale: string): string {
  const currentUrl = Astro.url;
  const newPathname = currentUrl.pathname.split('/').slice(2).join('/');
  return `/${locale}/${newPathname}`;
}

const { lang = AppConfig.defaultLang } = Astro.params;

const currentLanguage =
  languages[lang as keyof typeof languages] ?? languages[AppConfig.defaultLang];
---

<language-selector class="flex justify-center">
  <button
    id="language-toggle"
    type="button"
    class="inline-flex cursor-pointer items-center justify-center rounded-lg px-4 py-2 text-sm font-medium text-white hover:bg-zinc-800"
  >
    <svg
      class="me-3 size-5 rounded-full"
      aria-hidden="true"
      viewBox="0 0 512 512"
      set:html={currentLanguage.icon.body}
    />
    {currentLanguage.label}
  </button>
  <div
    class="absolute z-50 mt-11 hidden list-none divide-y divide-zinc-100 rounded-lg bg-white text-base shadow dark:bg-zinc-800"
    id="language-dropdown-menu"
  >
    <ul class="py-2 font-medium" role="none">
      {
        Object.keys(languages).map((language) => (
          <li>
            <a
              href={localizedPathname(language)}
              class="block px-4 py-2 text-sm text-zinc-700 hover:bg-zinc-100 dark:text-zinc-400 dark:hover:bg-zinc-600 dark:hover:text-white"
              role="menuitem"
            >
              <div class="inline-flex items-center">
                <svg
                  aria-hidden="true"
                  class="me-2 size-3.5 rounded-full"
                  viewBox="0 0 512 512"
                  set:html={languages[language as keyof typeof languages].icon.body}
                />
                {languages[language as keyof typeof languages].label}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</language-selector>

<script>
  class LanguageSelector extends HTMLElement {
    constructor() {
      super();
      const toggleButton = this.querySelector('#language-toggle');
      const dropdownMenu = this.querySelector('#language-dropdown-menu');

      toggleButton?.addEventListener('click', () => {
        dropdownMenu?.classList.toggle('hidden');
      });
    }
  }

  customElements.define('language-selector', LanguageSelector);
</script>
