---
interface Props {
  label: string;
  value: string;
  icon: string;
  width?: string;
  options: {
    label: string;
    value: string;
    selected: boolean;
  }[];
}
---

<label
  class="relative flex items-center gap-1"
  style={{ width: Astro.props.width ?? 'auto', height: '1.5em' }}
  for="select"
>
  <p class="absolute inset-0 -z-10 mt-1" aria-hidden="true">
    <Fragment set:html={Astro.props.icon} />
  </p>
  <select
    id="select"
    value={Astro.props.value}
    class="cursor-pointer border-0 bg-transparent pr-1 pl-4"
  >
    {
      Astro.props.options.map(({ value, selected, label }) => (
        <option value={value} selected={selected}>
          {label}
        </option>
      ))
    }
  </select>
</label>
