---
interface Props {
  label: string;
  value: string;
  icon: any;
  width?: string;
  options: Array<{
    label: string;
    value: string;
    selected: boolean;
  }>;
}
---

<label class="relative flex cursor-pointer items-center gap-1">
  <p>{Astro.props.icon}</p>
  <select
    value={Astro.props.value}
    class="cursor-pointer appearance-none border-0 bg-transparent text-gray-200"
  >
    {
      Astro.props.options.map(({ value, selected, label }) => (
        <option value={value} selected={selected}>
          {label}
        </option>
      ))
    }
  </select>
  <div class="h-full w-6">
    <svg
    id="caret-down"
    class="h-4 w-4"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 15 15"
  >
    <path
      d="M7.5 9.5L3 5h9z"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"></path>
  </svg>
  </div>
</label>
