---
import { Image } from "astro:assets";

import { AppConfig } from "~/config";
import avatars from "~/constants/avatar";
import socials from "~/constants/social";
import { useTranslations } from "~/i18n/utils";
import GradientText from "~/partials/astro-components/GradientText.astro";
import HeroAvatar from "~/partials/astro-components/HeroAvatar.astro";
import HeroSocial from "~/partials/astro-components/HeroSocial.astro";
import Section from "~/partials/astro-components/Section.astro";

const avatar = avatars[0]!;
const { lang = AppConfig.defaultLang } = Astro.params;

const t = useTranslations(lang);
---

<Section>
  <HeroAvatar>
    <Fragment slot="title">
      {t("hero.greeting")}
      <GradientText>{t("author.name")}</GradientText> 👋
    </Fragment>
    <Fragment slot="description">
      <p class="text-xl">{t("hero.description")}</p>
      <p class="text-xl">
        {t("hero.doing")}
      </p>
      <p class="text-xl">
        {t("hero.currentEmployment")}
        <a class="text-amber-400 hover:underline" href="https://www.finalis.com"
          >Finalis</a
        >
        {t("hero.currentTeam")}.
      </p>
    </Fragment>
    <Fragment slot="avatar">
      <Image
        class="size-64 rounded-full"
        src={avatar.img}
        alt={`${t("hero.avatar.alt")} ${avatar.tool.name} ${t(
          "hero.avatar.with"
        )} ${avatar.model.name}`}
        format="webp"
        width={400}
        height={400}
        loading="eager"
      />
      <p class="pt-2 text-center text-xs italic text-zinc-500">
        {t("hero.avatar.using")}
        <a class="text-zinc-400 hover:text-zinc-300" href={avatar.tool.url}
          >{avatar.tool.name}
        </a>
        {t("hero.avatar.with")}
        <a class="text-zinc-400 hover:text-zinc-300" href={avatar.model.url}
          >{avatar.model.name}</a
        >
      </p>
    </Fragment>
    <Fragment slot="socialButtons">
      {
        socials.map(({ url, icon }) => (
          <a href={url}>
            <HeroSocial {icon} />
          </a>
        ))
      }
    </Fragment>
  </HeroAvatar>
</Section>
