---
import './Navbar.css';

import socials from '~/constants/social';
import { useTranslations } from '~/i18n/utils';
import Logo from '~/partials/astro-components/Logo.astro';
import NavbarTwoColumns from '~/partials/astro-components/NavbarTwoColumns.astro';
import NavMenu from '~/partials/astro-components/NavMenu.astro';
import NavMenuItem from '~/partials/astro-components/NavMenuItem.astro';
import Section from '~/partials/astro-components/Section.astro';

import LanguageSelect from './astro-components/LanguageSelect.astro';

const { lang } = Astro.params;
const t = useTranslations(lang);

const languages = [
  { code: 'en', name: 'English (US)', flag: 'path_to_english_flag.svg' },
  { code: 'de', name: 'Deutsch', flag: 'path_to_german_flag.svg' },
  { code: 'it', name: 'Italiano', flag: 'path_to_italian_flag.svg' },
  { code: 'zh', name: '中文 (繁體)', flag: 'path_to_chinese_flag.svg' },
];

---

<Section>
  <NavbarTwoColumns>
    <a href={`/${lang}/`} target="_self">
      <Logo name="Barrenechea">
        <svg
          class="mr-1 h-10 w-10 stroke-amber-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
        >
          <g id="top">
            <path
              class="top-anim"
              fill="none"
              stroke-miterlimit="10"
              stroke-width="2"
              d="M9.2,22.67V4.26h10.41c3.12,3.12,4.88,4.88,8,8v10.41H9.2z"
            ></path>
          </g>
          <g id="bottom">
            <path
              class="botton-anim"
              fill="none"
              stroke-miterlimit="10"
              stroke-width="2"
              d="M9.2,44.27V27.13h29.38v9.14c-3.12,3.12-4.88,4.88-8,8H9.2z"
            ></path>
          </g>
        </svg>
      </Logo>
    </a>

    <NavMenu>
      <NavMenuItem href={`/${lang}/projects/`} target="_self">{t("nav.projects")}</NavMenuItem>
      <NavMenuItem href={`/${lang}/posts/`} target="_self">{t("nav.posts")}</NavMenuItem>
      {socials.map(({ name, url }) => (
        <NavMenuItem href={url}>
          {name}
        </NavMenuItem>
      ))}
      <LanguageSelect />
    </NavMenu>
  </NavbarTwoColumns>
</Section>
