---
import type { CollectionEntry } from "astro:content";

import { AppConfig } from "~/config";
import type { ui } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import GradientText from "~/partials/astro-components/GradientText.astro";
import Project from "~/partials/astro-components/Project.astro";
import Section from "~/partials/astro-components/Section.astro";
import Tags from "~/partials/astro-components/Tags.astro";

export interface Props {
  projectsList: CollectionEntry<"projects">[];
}

const tagColors = {
  CSharp: "PURPLE",
  DotNet6: "FUCHSIA",
  Xcode: "CYAN",
  Containers: "ROSE",
  Architecture: "ORANGE",
  Pipelines: "LIME",
  TailwindCSS: "SKY",
  TypeScript: "BLUE",
  WebScraping: "VIOLET",
  Blog: "EMERALD",
  JavaScript: "YELLOW",
  AstroJS: "INDIGO",
  ReverseEngineering: "STONE",
  Hardware: "AMBER",
  Android: "EMERALD",
  Embedded: "PINK",
} as {
  [key: string]: string;
};

const defaultTagColor = "GRAY";

const { projectsList } = Astro.props as Props;
const { lang = AppConfig.defaultLang } = Astro.params;
const t = useTranslations(lang);
---

<Section>
  <div slot="title" class="flex items-baseline justify-between">
    <div>
      {t("home.recentProjects")}
      <GradientText>{t("nav.projects")}</GradientText>
    </div>

    <div class="text-sm">
      <a
        href={`/${lang}/projects/`}
        target="_self"
        class="text-zinc-200 hover:underline"
      >
        {t("home.recentProjects.viewAll")} →
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    {
      projectsList.map((project) => (
        <Project
          name={project.data.title}
          description={project.data.description}
          link={`/${lang}/projects/${project.slug.split("/").pop()}/`}
          img={project.data.img}
          imgAlt={project.data.imgAlt}
        >
          {(project.data.tags || []).map((tag) => (
            <Tags color={tagColors[tag] || defaultTagColor}>
              {t(`tags.${tag}` as keyof (typeof ui)["en"]) ??
                t("tags.undefined")}
            </Tags>
          ))}
        </Project>
      ))
    }
  </div>
</Section>
