---
import type { CollectionEntry } from 'astro:content';

import { AppConfig } from '~/config';
import type { Translations } from '~/i18n/es';
import { useTranslations } from '~/i18n/translations';
import GradientText from '~/partials/astro-components/GradientText.astro';
import Project from '~/partials/astro-components/Project.astro';
import Section from '~/partials/astro-components/Section.astro';
import Tags from '~/partials/astro-components/Tags.astro';

export interface Props {
  projectsList: CollectionEntry<'projects'>[];
}

const tagColors = {
  CSharp: 'PURPLE',
  DotNet6: 'FUCHSIA',
  Xcode: 'CYAN',
  Containers: 'ROSE',
  Architecture: 'ORANGE',
  Pipelines: 'LIME',
  TailwindCSS: 'TEAL',
  TypeScript: 'BLUE',
  WebScraping: 'VIOLET',
  Blog: 'EMERALD',
  JavaScript: 'YELLOW',
  AstroJS: 'INDIGO',
  React: 'SKY',
  ReverseEngineering: 'STONE',
  Hardware: 'AMBER',
  Android: 'EMERALD',
  Embedded: 'PINK',
} as Record<string, string>;

const defaultTagColor = 'GRAY';

const { projectsList } = Astro.props;
const { lang = AppConfig.defaultLang } = Astro.params;
const t = useTranslations(lang);
---

<Section>
  <div slot="title" class="flex items-baseline justify-between">
    <div>
      {t('home.recentProjects')}
      <GradientText>{t('nav.projects')}</GradientText>
    </div>

    <div class="text-sm">
      <a href={`/${lang}/projects/`} target="_self" class="text-foreground hover:underline">
        {t('home.recentProjects.viewAll')} →
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    {
      projectsList.map((project) => (
        <Project
          name={project.data.title}
          description={project.data.description}
          link={`/${lang}/projects/${project.slug.split('/').pop() ?? 'ERROR'}/`}
          img={project.data.img}
          imgAlt={project.data.imgAlt}
        >
          {project.data.tags.map((tag) => (
            <Tags color={tagColors[tag] || defaultTagColor}>
              {t(`tags.${tag}` as keyof Translations) || t('tags.undefined')}
            </Tags>
          ))}
        </Project>
      ))
    }
  </div>
</Section>
